@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply text-text;
}
.container {
  @apply max-w-[1440px] mx-auto;
}

.custom_shadow {
  box-shadow: 8px 4px 27.7px 0px #3f4aab24;
}
